include README.md
include LICENSE.txt
include CMakeLists.txt
include .nupic_modules
recursive-include nupic/bindings _*.so _*.dll
recursive-include nupic/data *.json
recursive-include nupic/frameworks/opf/exp_generator *.json *.tpl
recursive-include nupic/frameworks/opf/jsonschema *.json
recursive-include nupic/support/resources/images *.png *.gif *.ico *.graffle
recursive-include nupic/swarming/jsonschema *.json
recursive-include external *
recursive-include extensions/bindings *
recursive-include extensions/cpp_region *
recursive-include extensions/htmtest *
recursive-include extensions/py_support *
